
<div class="picture" style="background-image: url(<%= asset_path @pic %>)" >
	<%= @word_to_guess %>
	
	<div class="gameword">
		<table>
		<tr>	
		<% @word_to_guess.each_char do |c| %>
			<td class="gameletter" ><p><%= c %></p></td>
		<% end %>
		</tr>
		</table>
	</div>
</div>
<div class="manyletters">
<% "ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ".each_char do |i| %>

	<% if (i == 'Ä') %>
		<%= link_to game_checkletter_path(:id => 'AE') do %>
			<div class="letter"><p><%= i %></p></div>
		<% end %>
	<% elsif (i == 'Ö') %>
		<%= link_to game_checkletter_path(:id => 'OE') do %>
			<div class="letter"><p><%= i %></p></div>
		<% end %>
	<% elsif (i == 'Å') %>
		<%= link_to game_checkletter_path(:id => 'AO') do %>
			<div class="letter"><p><%= i %></p></div>
		<% end %>
	<% else %>
		<%= link_to game_checkletter_path(:id => i) do %>
			<div class="letter"><p><%= i %></p></div>
		<% end %>
	<% end %>
<% end %>
</div>

<%= link_to endgame_path do %>
	<div class="back"><p>Lopeta</p></div>
<% end %>

<%= link_to newgame_path do %>
	<div class="back"><p>Uusi peli</p></div>
<% end %>