<ol>
<% @words.each do |x| %>
	<li><%= x.word.capitalize %></li>
<% end %>
</ol>
<br />

<%= form_tag addnewword_path do %> 
	<%= text_field_tag :new_word, nil, :size => 18, :maxlength => 15 %>
	<br />
	<%= submit_tag 'Lisää sana' %>
	<br />
<% end %>

<div class="notifier"><%= notice %></div> <br />
<%= link_to (root_path) do %>
	<div class="back"><p>Takaisin</p></div>
<% end %>