<ol>
<% @words.each do |x| %>
	<li>
	<% case x.word[0]
	when 'ä'
		x.word[0] = 'Ä'
	when 'ö'
		x.word[0] = 'Ö'
	when 'å'
		x.word[0] = 'Å'
	end %>
	<%= x.word.capitalize %>
	</li>
<% end %>
</ol>
<br />

<%= form_tag addnewword_path do %> 
	<%= text_field_tag :new_word, nil, :size => 20, :maxlength => 15, :accept => 'text/html', :placeholder => 'Kirjoita lisättävä sana' %>
	<br />
	<%= submit_tag 'Lisää sana' %>
	<br />
<% end %>

<div class="notifier"><%= notice %></div> <br />
<%= link_to (root_path) do %>
	<div class="back"><p>Takaisin</p></div>
<% end %>